/* Disable YouTube plugin warnings. */
#flash-upgrade {
    display: none !important;
}

#movie_player > .ytp-error {
    visibility: hidden !important;
}

/* Hide the ad on the main web page. */
#ad_creative_1 {
    display: none !important;
}

/* The "Load more suggestions" and the various "About", "Share", etc.
 *  buttons don't work, so we hide them. */
#watch-more-related-button,
#watch7-secondary-actions {
    display: none !important;
}

#theater-background {
    display: none !important;
}

/* Avoid overpainting behind video frames  */
#movie_player {
    background: transparent;
}

/* Avoid alpha compositing on top of video frames */
.ytp-gradient-top,
.ytp-gradient-bottom {
    display: none !important;
}
.ytp-chrome-top,
.ytp-chrome-bottom {
    background: #000;
    left: 0 !important;
    right: 0 !important;
    transition: none !important;
}
.ytp-chrome-bottom {
    border: solid #000;
    border-width: 6px 12px 0;
}
.ytp-fullscreen .ytp-chrome-bottom {
    border-width: 6px 24px 0;
}

.ytp-player-content {
    transition: none !important;
}
